*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-color{
    background-color: #37333b;
}

.dark-bg{
    /* background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/ba1.jpg');
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../img/ba1.jpg');
    background-size: cover; */
    background-color: #3c096f;

}

.btn-1{
    background-color: greenyellow;
}

