* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-color {
    background-color: #37333b;
}

.ctcolor {
    color: chartreuse;
}

.dark-bg {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(33, 32, 35, 0.5), rgba(33, 32, 35, 0.5)), url(../img/ba1.jpg);
    background-size: cover;
}


.box-intro {

    position: absolute;
    top: 400px;
    right: 100px;
    width: 600px;
    height: 50px;


}

.tx-title {
    margin-left: 417px;
}

.tx-p{
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    font-weight: 400;

}

.bns {

    margin-left: 227px;
 

}

.cardsection{
    margin-top: 20px;
    margin-bottom: 20px;
}
.orators-1{
    font-size: 14px;
    padding-top: 15px;
}

.orators-2{
    line-height: 5px;  
}

.card-1{    
    margin-left: 90px;
}
.card-2{
    margin-left: 25px;
}
.card-3{
  
}

.btns{
    margin-bottom: 15px;
}

.hnl{
    margin: inherit;
}

.con-1{
    font-size: 12px;
    padding-top: 15px;
}

.ign{   
    padding-top: 15px;
} 

.col-6 {
    text-align: left;
    max-height: 50%;
}

#nm{
    max-width: 70%;
    margin-left: 200px;
    margin-top: -40px;
}

#sn{
    max-width: 70%;
    margin-top: -40px;
}

#ff{
    max-width: 68%;
    margin-left: 216px;
    margin-top: -4px;
   
}

#rt{
    margin-left: 216px;
    margin-top: 5px;
    color: #6b686f;
}

#bttn{
    background-color: yellowgreen;
    margin-left: 216px;
    max-width: 68%;
}


